html, body
    margin 0
    padding 0
    height 100%

html, body, h1, h2, h3, h4, h5, h6, div, span, p
    font-family 'PingFang SC', 'Helvetica', 'Arial', sans-serif

.header
    // flex 0 0 4rem
    padding 3rem
    width 100%
    background-image linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%)
    .title, .subtitle
        text-align center

.content
    flex 1 1
    width 100%
    display flex
    justify-content center
    align-items center

.footer
    text-align center
    width 100%
    padding 1.5rem

.loading
    width 80px
    height 40px
    margin 0 auto
    margin-top 100px
    span
        display inline-block
        width 8px
        height 100%
        border-radius 4px
        background lightgreen
        animation load 1s ease infinite
@keyframes load
    0%,100%
        height 40px
        background lightgreen
    50%
        height 70px
        margin -15px 0
        background lightblue

.loading span:nth-child(2)
    animation-delay 0.2s
.loading span:nth-child(3)
    animation-delay 0.4s
.loading span:nth-child(4)
    animation-delay 0.6s
.loading span:nth-child(5)
    animation-delay 0.8s

