.weather__layout
    height 100%
    display flex
    flex-flow column nowrap
    align-items center
    .input__fields
        height inherit
        margin 1rem
        display flex
        flex-flow row nowrap
        justify-content space-around
        align-items center
        .field
            margin 0 1rem